body {
  font-family: Arial;
  margin: 0;
}


header{
  background-color: #3f6f70;
  color: white;
  text-align: center;
  padding: 20px;
}


nav {
  background-color: #ccc;
  text-align: center;
  padding: 10px;
}

nav a {
  margin: 10px;
  text-decoration: none;
  color: black;
}


main {
  padding: 20px;
}


footer {
  background-color: #3f6f70;
  color: white;
  text-align: center;
  padding: 10px;
}

